@font-face {
  font-family: "font1";
  src: url(fonts/norwester.otf);
}

body {
  font-family: "font1";
  background-color: black;
  margin: 20px;
  color: white;
}

#title {
  color: white;
  padding-left: 20px;
  font-size: 2em;
}

header {
  display: flex;
  border: 2px solid white;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
}

#search {
  position: absolute;
  right: 110px;
  top: 33px;
}

a {
  color: red;
  font-weight: bold;
  font-size: 1.5em;
  padding: 20px;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: gold;
}

#profil {
  background-color: white;
  position: absolute;
  right: 50px;
  top: 50px;
}
#logo {
  background-color: white;
  position: absolute;
  left: 850px;
}

.main_film {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  margin-top: 5px;
  border: solid white 2px;
  color: white;
}

#main_film:hover {
  transform: scale(1.2);
}

.caroussel {
  margin-top: 1em;
  padding: 1em;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.item {
  position: relative;
  padding: 2px;
  transition: 250ms all;
}

.item:hover {
  transform: scale(1.2);
}

.btn_right,
.btn_left {
  font-size: 5em;
  color: white;
}

#modale_content {
  display: none;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  width: 50%;
  height: 80%;
  position: fixed;
  top: 5em;
  left: 500px;
  z-index: 1;
  border: solid white 3px;
  overflow: auto;
}

#img_modale {
  position: absolute;
  top: 3em;
  left: 2em;
  width: 40%;
  height: 80%;
}

#film_infos {
  position: absolute;
  left: 45%;
  top: 3em;
  line-height: 1.5em;
  font-weight: bold;
  font-family: "font1";
  margin-right: 1.5em;
  text-align: justify;
}

#close {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
  color: red;
}

h2 {
  border: solid white 3px;
  text-align: center;
  padding: 1em;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 10em;
  align-items: ;
}
